@font-face {

}

body {
  color: rgb(255, 255, 255);
  background-color: rgb(133, 13, 3);
}

article {
  color: white;
  background-color: rgb(236, 132, 14);
}

.articulo {
  background-color: rgb(235, 143, 38);
}

.input {
  background-color: rgb(149, 9, 38);
}


a:visited {
  color: rgb(173, 173, 173);
}

.container a:hover {
  color: rgba(0, 0, 0, 0.5);
}
